@charset "UTF-8";

@import 'global.css';
@import 'sections/header.css';
@import 'sections/hero.css';
@import 'sections/sobremi.css';
@import 'sections/actividades.css';
@import 'sections/contador.css';
@import 'sections/footer.css';


/* MEDIA QUERIES */
@media screen and (min-width: 350px) {
    .main-message {
        transform: translateY(40%);
    }

    .nav-item {
        padding: 1.5rem 0;
    }
}

@media screen and (min-width: 470px) {
    .hero::before {
        height: 9.4rem;
    }
    .sobremi::before {
        height: 12.4rem;
    }
    .sobremi {
        top: 70%;
    }
    
    .nav-item {
        padding: 1.5rem 0;
    }
}

@media screen and (min-width: 700px) {
    header {
        height: 8rem;
    }
    .nav-brand {
        width: 3.5rem;
    }
    .nav-list {
        width: initial;
        height: initial;
        background-color: transparent;
        position: initial;
        top: initial;
        right: initial;
        flex-direction: row;
        transition: initial;
    }
    .menu-icons {
        display: none;
    }
    .nav-item {
        margin: 0 2.5rem;
    }
    .nav-link,
    .current {
        color: #FAFAFA;
        position: relative;
        font-size: 1.3rem;
    }
    .nav-link::before,
    .current::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: -.5rem;
        background-color: var(--color-primary-2);
        width: 100%;
        height: 2px;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 650ms;
    }
    .current::before {
        transform: scaleX(1);
    }
    .nav-link:hover::before {
        transform: scaleX(1)
    }

    .hero {
        height: 95vh;
    }
    .main-message {
        transform: translateY(50%);
    }
    .title-heading h1 {
        font-size: 2.5rem;
    }
}

@media screen and (min-width: 950px) {
    .hero {
        height: 95vh;
    }
    .hero::before {
        height: 20vh;
    }
    .sobremi {
        height: 80vh;
    }
    .sobremi::before {
        height: 15.7rem;
    }
    .sobremi {
        top: 70%;
    }
}

