.actividades {
    padding: 50px 0;
}

.title-heading {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 4rem;
    color: rgba(0, 0, 0, .7);
}

.title-heading h3 {
    font-size: 1.4rem;
}

.title-heading h1 {
    font-family: 'Aldrich', sans-serif;
    font-size: 2rem;
    margin: .5rem 0 1rem;
}

.title-heading p {
    text-transform: lowercase;
}

.activities-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 2.5rem;
    z-index: 0;
    position: relative;
}

.activities-grid-item {
    height: 40rem;
    padding: 5rem;
    color: #FAFAFA;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    border-radius: 50px 0 50px 0;
}

.activities-grid-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, var(--color-primary) 0%, var(--color-secundary) 100%);
    z-index: -1;
    border-radius: 50px 0 50px 0;
}

.star-gazing {
    background: url(../../img/stars.jpg) center no-repeat;
}
.hiking {
    background: url(../../img/hiking.jpg) center no-repeat;
}
.camping {
    background: url(../../img/camping.jpg) center no-repeat;
}

.activities-grid-item i {
    font-size: 4rem;
    color: var(--color-primary-2);
}

.activities-grid-item h1 {
    font-family: 'Aldrich', sans-serif;
    font-size: 1.7rem;
    text-transform: uppercase;
    margin: 2rem 0;
}